.dialogueTitle{
    font-size: 35px;
    fill: solid rgba(42, 114, 222, 0.75);
    color: #2A72DE;
    font-size: SemiBold;
    line-height: 53px;
}

.formlabel {
    display: flex;
    flex-direction: column;

}
.stackrow{
    display:"flex";
    flex-direction:"row";
    justify-content:"center";
    gap:"10%";
}
.proceedbutton{
    color: #2A72DE;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 80px;

}
.listitems {
    color: #4a77ff;
    font-size: 15px;
    line-height: 175%;
}
.formtext{
    width: 330px;
    height: 35px;
    text-align: center;
    border-radius: 20px;
    background-color: #94D2FF;
    border: #BFBFBF;
}
textarea {
    resize: none;
}
label {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #4a77ff;
}
.passwordbar{
    margin-top: 3%;
    width: 330px;
    height: 35px;
    text-align: center;
    border-radius: 20px;
    background-color: #94D2FF;
    border: #BFBFBF;
    margin-right: 2%;
}
.passwordbar2{
    margin-top: 3%;
    width: 330px;
    height: 35px;
    text-align: center;
    border-radius: 20px;
    background-color: #94D2FF;
    border: #BFBFBF;
    margin-right: 5%;
}
.registerbutton1{
    color: #2A72DE;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    cursor: pointer;
    color:#2A72DE;
    width:400px;
    height:50px;
    border-radius:80px;
    font-size:24px;
    margin-left: auto;
    margin-right: auto;
}
.registerbutton{
    color: #2A72DE;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 80px;

    color:#2A72DE;
    margin-top:5%;
    width:300px;
    height:50px;
    border-radius:80px;
    font-size:24px;
    margin-left: auto;
    margin-right: auto;
}
.divrow {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    text-align: center;
}

.inutbar{
    width: 300px;
    color: #2A72DE;
    background-color: #94D2FF;
    border-radius: 20px;
    height: 35px;
    margin-right: 5%;
    align-items: center;
}
.emailphone{
    margin-left: 2%;
}
.carddiv{
    padding: 5%;
    align-items: center;
    text-align: center; 
}
.backbutton{
    margin: 2%;
}
.billbriefs{
    margin-top: 10%;
}